/*******chung****/
*{
	margin: 0px;
	padding: 0px;
	
}
html {
  position: relative;
  min-height: 100%; 
}
body {
  overflow-x: hidden;
  height: inherit !important;
}

#body{
  width: 960px;
}

#header{
  position: relative;
  margin: 0 auto;
  border: 0px ;
}

#header-top{
  background: #f89521 !important;
  color: #fff !important;
}
.header-wrapper{
  z-index: 999;
  position: relative;
}

#user{
  margin-top: 0px;
  border-radius: 5px;
}

.header-wrapper .logo a {
  display: inline-block;
}

.header-wrapper .logo a {
  padding: 22px 0;
}

#cshero-header .logo a img {
  max-height: 55px;
}

.header-wrapper .logo a img, .sticky-wrapper .cshero-logo a img {
  vertical-align: middle;
}

#header-top .container {
  position: relative;
  z-index: 1001;
}

#header-top [class^="col-"], #header-top [class*="col-"] {
  min-height: 0;
}

#header-top ul li {
  display: inline-block;
}

#header-top a {
  color: #fff !important;
}
#header-top ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.cs-social a.twitter {
  background-position: -30px -28px;
}

.cs-social a {
  background: url(../images/icons.png) no-repeat;
  display: inline-block;
  height: 18px;
  width: 20px;
  margin-left: 12px;
}

.cs-social a.facebook {
  background-position: -30px 0;
}

.cs-social a.googleplus {
  background-position: -30px -56px;
}

.cs-social a.vimeo {
  background-position: -30px -84px;
}

#cshero-header {
  border-bottom: 1px solid #efefef;
}

#cshero-header .cshero-menu-dropdown {
  background: transparent !important;
}

#menu{
  margin-top: 20px;
  margin-bottom: 20px;
}

#menu a{
  color: #656565;
  font-size: 13px;
  text-transform: uppercase;
}

#menu a:hover, #menu > li.active > a {
  border-bottom: 2px solid;
  border-color: #f89521;  
  background-color: #ffffff;
  color: #f89521;
}

.hor_separator {
    width: 100%;
    height: 40px;
}
  /***ket thuc chung****/


  /*********day la phan tieu de nav**********/

.nav-pills {
  font-weight: 300;
  width: 165px;
  margin-top: 50px;
  margin-left: -30px;
   }

.nav-pills>li>a, .nav-pills>li>a:focus, .nav-pills>li>a:hover {
  background-color: #f9aa47; /*cam sam*/
}
 
 .nav-pills > li > a:hover {
  color: #f9aa47;
  background-color: #3f3d37;
}


.nav-pills > li + li {
  margin-left: 2px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover {
  background-color: #3f3d37; 
}

/*mau chu*/
.nav-pills > li > a:hover >i{
  color: #f9aa47;
}
.nav-pills > li.active > a >i{
  color: #f9aa47;
}
.nav-pills > li > a {
  border-radius: 0px;
}
#myInputSearchDash, .squarebutton {
  border-radius: 0px;
}

/*********ket thuc phan tieu de nav**********/


/*******day la phan footer thong tin*******/
.bottom_block {
  clear: both;
  color: #baac83;
  font-family: 'QuattrocentoSans';
  margin: 0 auto;
  padding: 0 39px;
  position: relative;
  width: 960px;

}
.bottom_block h3 {
  padding-top: 39px;
  margin-bottom: 25px;
}

.socials {
  overflow: hidden;
}

.bottom_block nav {
  padding-top: 27px;
  font-size: 12px;
  text-transform: uppercase;
  color: #504f4f;
}



.bottom_block nav li {
  float: left;
}


.bottom_block nav li+li {
  margin-left: 19px;
}
.socials {
  overflow: hidden;
}

.bottom_block p {

  margin-top: -5px;
}

.bottom_block nav li.current {
  color: #699440;
}
.socials a:hover {
  opacity: 0.5;
}

.socials a:first-child {
  margin-left: 0;
}

.socials a:first-child+a {
  background: url(../images/socials.png) ;
}

.socials a:first-child+a+a {
  background: url(../images/socials.png) right 0 no-repeat;
}

#newsletter {
  position: relative;
}



#newsletter label {
  display: block;
  position: relative;
  width: 313px;
  float: left;
  padding-top: 1px;
  z-index: 1;
}

#newsletter input {

  border: 1px solid #d9d8d8;
  float: left;
  color: #a8a8a8;
  width: 220px;
  height: 30px;
  font: 12px/18px  Arial, Helvetica, sans-serif;
  padding: 6px 10px;
  box-shadow: none !important;
  -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
}

#newsletter a.btn {
  float: right;
  text-transform: capitalize;
  font-size: 13px;
  margin-top: 0;
  padding-top: 6px;
  padding-bottom: 6px;
}

#newsletter .error, #form1 .empty {   
  height:0px;
  top: 35px;
  width: 100%;
  left: 4px;
  font-size: 10px;
  line-height: 13px;
  display: block;
  overflow: hidden;
  z-index: 999;
  color: #ff0000;
    -webkit-transition:  0.3s ease-out; 
    -o-transition: all 0.3s ease-out; 
    transition: all 0.3s ease-out; 
    position: absolute;
  }

#newsletter label.invalid .error {
  /*display: block;*/
  height:40px;

}

#newsletter .success {
  width: 220px;
  z-index: 999;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; 
  display: none;  
  top: 0px;
  border: 1px solid #d9d8d8;
  background: #fff;
  left: 0px;
  font-size: 12px;
 color: #a7a7a7;
  overflow: hidden;
  padding: 10px;
  -webkit-transition:  0.3s ease-out; 
  -o-transition: all 0.3s ease-out; 
  transition: all 0.3s ease-out; 
  position: absolute;
}

/****Map***/

.map {
  padding-top: 6px;
  color: #848383;
}

/**************ket thuc phan footer thong tin*****************/


/*************day la phan footer design cuoi trang**********/
#thao-design {
  font-size: 11px;
  line-height: 13px;
  margin: 0;
  background: #222222;
}

#thao-design > .contain > .name {
  text-align: center;
}

/*************ket thuc phan footer design cuoi trang**********/




/************day la phan dashboard*********/
#slide-control-prev {
position: absolute;
text-align: center;
width: 25px;
height: 60px;
background: orange;
line-height: 60px;
color: #fff;
cursor: pointer;
top: 35px;
left: -30px;
}
#slide-control-next{
position: absolute;
text-align: center;
width: 25px;
height: 60px;
background: orange;
line-height: 60px;
color: #fff;
cursor: pointer;
right: -30px;
top: 35px;
}
.slider_bg {
  width: 100%;
  height: 404px;
  background: url(../images/bg_slider.jpg) 0 0 no-repeat;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, .4);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .4);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .4);
  margin-bottom: 35px;
}

#slider{
  width: 100%;
}

.item a{
  color: #ffffff;
  background: rgba(0, 0, 0, 0.6);
}

#button-login{
  margin-top: 25px;
}

#button-login li a{
  color: #656565;
  font-size: 13px;
  text-transform: uppercase;
}


/************ket thuc phan dashboard*********/
.captionOrange, .captionBlack
        {
            color: #fff;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            border-radius: 4px;
        }
        .captionOrange
        {
            background: #EB5100;
            background-color: rgba(235, 81, 0, 0.6);
        }
        .captionBlack
        {
          font-size:16px;
            background: #000;
            background-color: rgba(0, 0, 0, 0.4);
        }
        a.captionOrange, A.captionOrange:active, A.captionOrange:visited
        {
          color: #ffffff;
          text-decoration: none;
        }
        a.captionOrange:hover
        {
            color: #eb5100;
            text-decoration: underline;
            background-color: #eeeeee;
            background-color: rgba(238, 238, 238, 0.7);
        }
        .bricon
        {
            background: url(../img/browser-icons.png);
        }
/*about*/
#about ul li {
  float: left;
  margin-left: 4px;
}

#about ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 44px 0 0 8px;
}

#about {
  margin-left: 194px;
  margin-top: 130px;
}

/*------------------------containt-------------------------------*/
.myrow{
  margin-top: 20px;
}

.cs-carousel-header-feature {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  width: 92%;
  text-align: center;
  margin-left: 4%
}

.cs-carousel-header-feature h3 {
  font-size: 33px;
  line-height: 60px;
  text-transform: uppercase;
  }

  .cs-carousel-post-icon {
  top: -54px;
  height: 56px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  line-height: 75px;
  text-align: center;
}

.cs-carousel-post-icon i {
  font-size: 28px;
}

.cs-carousel-post-icon i {
  position: relative;
  z-index: 10;
  color: #fff;
}

img{
  max-width: 100%;
  height: auto;
}

.images1 img, .images2 img, .images3 img, .food img{
  width: 100%;
  height: auto;
}

.images1, .images2, .images3 {
  overflow: hidden;
  margin-top: 15px;
}

.cs-carousel-body1, .cs-carousel-body2, .cs-carousel-body3 {
  position: absolute;
  margin: auto;
  width: 100%;
}

.cs-carousel-inner {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 2px 22px;
  margin-bottom: -4px !important;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.cs-carousel-body1 .cs-carousel-post-meta, .cs-carousel-body2 .cs-carousel-post-meta, .cs-carousel-body3 .cs-carousel-post-meta {
  border: medium none;
  margin: 0;
  padding: 0;
}

.cs-carousel-body1 .cs-carousel-post-title, .cs-carousel-body2 .cs-carousel-post-title, .cs-carousel-body3 .cs-carousel-post-title {
  margin: 20px 0 0;
}

.cs-carousel-body1 .cs-carousel-post-title h3, .cs-carousel-body2 .cs-carousel-post-title h3, .cs-carousel-body3 .cs-carousel-post-title h3 {
  color: #fff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
/*------------------food new ----------------------*/
.myrow h3{
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  color: #f89521;
}

.myrow h3 a{
  color: #f89521;
  text-decoration:none;
}

.myrow h4{
  color: #fff;
  margin-top: -10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.myrow hr{
  width: 30%;
  margin: 10px auto;
  border: solid 1px;
  color: #f89521;
}

.myfood{
  background-color: #ffffff !important;
  padding: 5px;
  border-bottom: solid 0px;
}

.mypanel{
  box-shadow: 0px 5px 1px #ccc;
  border-radius: 0px;
}

.mypanel hr{
  width: 90%;
  border: solid 1px;
  color: #f5f5f5;
}

.mypanel h5{
  font-size: 15px;
   text-transform: uppercase;
   text-align: center;
  font-style: bold;
}

.mypanel h6{
  font-size: 14px;
   text-align: center;
}

.mypanelbody{
  padding-top: 5px;
}

.mypanel .buttonmore{
  background-color: #f89521;
  margin-bottom: -60px;
  border: solid 0px;
  margin-left: 30%;
  border-radius: 3px;
  color: #fff;
}

.myrowfood{
  padding-top: 10px;
  overflow: hidden;
}

.buttonold{
  float: right;
  margin-right: 15px;
  background-color: #f89521;
  border-radius: 3px;
  border: solid 0px;
  color: #fff;
}
/*-----------------footer-déign--------------------*/
#thao-design h5{
  color: #fff;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.my_footer {
  width: 100%;
  bottom: 0;
}

.cs-carousel-inner a{
  text-decoration: none;
  color: #fff;
}
/*----------------------------user--------------------------*/
.imguser{
  width: 80%;
  margin-left: 10%;
}

.user h5{
  text-align: center;
  font-size: 20px;
}

#loading {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  #calendar {
    max-width: 900px;
    margin: 0 auto;
  }


.sitemap li{
  margin-left: 30px;
}